<%= form_with model: property do |f| %>
<div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
    <%= property.errors.full_messages_for(:title)[0] %>
</div>
<div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
    <%= property.errors.full_messages_for(:description)[0] %>
</div>
<div>
    <%= f.label :rooms, 'Quantidade de quartos' %>
    <%= f.text_field :rooms %>
    <%= property.errors.full_messages_for(:rooms)[0] %>
</div>
<div>
    <%= f.label :bathrooms, 'Quantidade de banheiros' %>
    <%= f.text_field :bathrooms %>
    <%= property.errors.full_messages_for(:bathrooms)[0] %>
</div>
<div>
    <%= f.label :daily_rate, 'Preço da diária' %>
    <%= f.text_field :daily_rate %>
    <%= property.errors.full_messages_for(:daily_rate)[0] %>
</div>
<div>
    <%= f.label :parking_spot, 'Vaga de estacionamento' %>
    <%= f.check_box :parking_spot %>
</div>
<div>
    <%= f.label :pet_friendly, 'Aceita pets' %>
    <%= f.check_box :pet_friendly %>
</div>
<div>
    <%= f.submit 'Cadastrar' %>
</div>
<% end %>