<!DOCTYPE html>
<html>
  <head>
    <title>FlatsRenatoTd7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <% if property_owner_signed_in? %>
      <p> <%= link_to 'Meus imóveis', properties_path %>
      <p> <%= link_to 'Cadastrar imóvel', new_property_path %> </p>
      <p> <%= current_property_owner.email %> </p>
      <p> <%= link_to 'Logout', destroy_property_owner_session_path, method: :delete%>
    <% elsif user_signed_in? %>
        <p>
        <%= current_user.email %>
        <br />
        <p> <%= link_to current_user.email, my_profile_path %> </p>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </p>
    <% else %>
      <p>
      <%= link_to 'Entrar como proprietário', new_property_owner_session_path %>
      <br />
      <br />
      <%= link_to 'Entrar como locador', new_user_session_path %>
      </p>
    <% end %>
  </nav>
  <p> <%= notice %> </p>
  <p> <%= alert %> </p>
    <%= yield %>
  </body>
</html>
